@mixin handleFlex($a: null, $j: null, $d: null) {
    display: flex;
    align-items: $a;
    justify-content: $j;
    flex-direction: $d;
}

.d {
    padding: 5rem;
}

.multi-items-list-model {
    --multi-item-list-model-bg-color: #00000066;
    --multi-item-list-model-header-bg-color: #000000;
    --multi-item-list-model-content-label-color: var(--body-text-color);
    --multi-item-list-model-horizontal-spacing: 1.875rem;
    --multi-item-list-model-header-vertical-spacing: 1.25rem;
    --multi-item-list-model-contents-vertical-spacing: 2.5rem;
    --multi-item-list-model-contents-row-gap: 3.75rem;
    --multi-item-list-model-contents-label-and-value-gap: 0.625rem;
    --multi-item-list-model-radius: 0.625rem;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--multi-item-list-model-bg-color);
    border-radius: var(--multi-item-list-model-radius);

    .model-header {
        background-color: var(--multi-item-list-model-header-bg-color);
        padding: var(--multi-item-list-model-header-vertical-spacing) var(--multi-item-list-model-horizontal-spacing);
        border-radius: var(--multi-item-list-model-radius);
        font-family: var(--body-font-family-light);
    }

    .model-contents {
        padding: var(--multi-item-list-model-contents-vertical-spacing) var(--multi-item-list-model-horizontal-spacing);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: var(--multi-item-list-model-contents-row-gap);
        .model-item {
            display: grid;
            gap: var(--multi-item-list-model-contents-label-and-value-gap);

            .model-item-label {
                color: var(--multi-item-list-model-content-label-color);
            }

            .model-item-value {
                font-family: var(--body-font-family-light);
            }
        }
    }

}