
    <div class="multi-items-list-model">
        <section class="model-header">
            <span>Fulfillment Item Details</span>
        </section>
        <section class="model-contents">
            <ng-container *ngFor="let item of modelList" >
                <ul class="model-item">
                    <li class="model-item-label">{{item?.label}}</li>
                    <li class="model-item-value">{{item?.value}}</li>
                </ul>
            </ng-container>
        </section>
    </div>
