<div class="timeline-event-wrapper" [ngClass]="[(horizontalView ? 'horizontal' : ''),(styleClass ? styleClass : '')]">
    <div class="timeline-event-indication-section" [ngClass]="{'reverse-order': reverse}">
        <ng-container *ngFor="let item of value; let i = index">
            <div class="timeline-event-indication-item" [ngClass]="item?.isActive ? 'active-time-line' : ''">
                <section class="indicator-line-and-ball">
                    <div class="timeline-event-indicator"></div>
                    <div class="timeline-event-indicator-line"></div>
                </section>
                <section class="timeline-event-content">
                    <i class="sila timeline-event-icon fa" [ngClass]="item?.iconClass"></i>
                    <div class="additional-contents">
                        <div class="heading">{{item?.label}}</div>
                        <div class="decription">{{item?.description}}</div>
                    </div>
                </section>
            </div>
        </ng-container>
    </div>
</div>